@font-face {
    font-family: 'Freesentation-9Black';
    src: url(font/Freesentation-9Black.ttf);
    font-weight: 900;
    font-style: normal;
}

html, body {
    font-family: 'Freesentation-9Black';
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

header {
    width: 70vw;
    height: 4vh;
    padding: 2vh 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
}

select {
    color: rgb(34, 145, 248);
    font-weight: 700;
    background-color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 6em;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 3em;
    padding: 0;
    margin: 0;
}

h3 {
    font-size: 2em;
    padding: 2vh 0;
    margin: 0;
}

h4 {
    font-size: 1.2em;
    padding: 2vh 0;
    margin: 0;
}

p {
    font-size: 1em;
    padding: 0;
    margin: 0;
}

span {
    font-size: 0.8em;
    color: #757575;
    padding: 0;
    margin: 0;
}

.space {
    width: 100%;
}

.logo {
    width: auto;
    height: 100%;
    user-select: none;
}

.logo > img {
    height: 100%;
}

#banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#bannerbgbox {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.bannerbg {
    width: 100%;
}

.bannerbg {
    position: absolute;
    user-select: none;
}

#titlebox {
    height: 16vh;
    padding: 36vh 15vw;
    position: absolute;
}

.section {
    width: 70vw;
    height: fit-content;
    padding: 10vh 15vw;
}

.s_title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.s_container {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.s_contentbox_v {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s_contentbox_w {
    margin: 1vh;
    display: flex;
    align-items: center;
}

#about {
    justify-content: space-between;
}

.circle {
    width: 16vw;
    height: 16vw;
    background-color: white;
    border-radius: 999px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
}

.circle img {
    width: 100%;
    border-radius: 999px;
}

.radius_eight {
    border-radius: 1em;
}

.characterbox {
    display: flex;
    overflow: hidden;
}

.character-head {
    width: 240px;
    height: 300px;
    border-radius: 1em;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 1em;
    transition: 125ms;
}

.characterbox:hover .character-head {
    width: 160px;
    background-color: rgba(34, 145, 248, 0.2);
}

.characterbox:hover .character-context {
    display: block;
}

.character-context {
    width: 360px;
    overflow: hidden;
    box-sizing: border-box;
    display: none;
    padding: 2em 1em;
}

.characterbox img {
    width: 100%;
}

.icon_big {
    width: 3em;
    height: 3em;
}

.imgcontainer {
    width: 100%;
}

.imgcontainer img {
    width: 100%;
}